// color
$black-color: #000;
$min-color: #135ba3;
$sub-color: #262a10;
$gold-color: #e8985e;
$white-color:#fff;
$gray-color: #777777;

// color



// text
$arabc_font:'Tajawal',
sans-serif;
$english_font:'Rubik',
sans-serif;
$sub_text: "Lobster",
cursive;

// text


// font-face 

@font-face {
    font-family: arabicFont;
    src: url('../../fonts/Almarai-Bold.ttf');
}

